<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Sample Site</title>
    <link
      rel="stylesheet"
      href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"
    />
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <style>
      .jumbotron {
        color: whitesmoke;
        background-color: darkslategray;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-collapse collapse" style="text-align:center">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/home">Home</a></li>
            <li>
              <a
                href="http://localhost:8091/login"
                class="btn btn-danger"
                style="color:white;"
                >Logout</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Main component for a primary marketing message or call to action -->
    <div class="container">
      <div class="jumbotron">
        <% if (!user) { %>
        <div class="alert alert-danger col-sm-12">Invalid Id!</div>
        <% } else { %>
        <h1>Welcome <%=user.name%></h1>
        <p>You have logged in successfully!</p>
        <% } %>
      </div>
    </div>
    <div class="text-center">
      &copy; Mohamed Roza
    </div>
  </body>
</html>
